h1 {
  text-align: center;
}
h3 {
  text-align: center;
  width: 50%;
  margin: 1em auto;
  font-size: 1.7em;
  font-weight: 400;
}
p {
  text-align: center;
  padding: 1.4em;
  margin: 0;
  font-size: 1.3em;
  color: 	#F8F8FF;
  line-height: 17px;
}
.clickable {
  color: #4881ea;
}
.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}
.col-md-6 {
  width: 45%;
  height: 5.5em;
  margin: 0 5px 10px;
}
.box {
  border: 1px solid #666;
  transition: background-color .3s ease-in-out;
}
.box:hover {
  background-color: #eeeeee;
}
.disappear {
  display: none;
}
.green-bg {
  background-color: #5cb85c;
}
